/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

/* apply fonts */

body {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

/* General text styling */

body {
  line-height: 1.6;         
  letter-spacing: 0.02em;   
  font-size: 1rem;          
}

h1 {
  font-size: 3rem;          
  text-align: center;        
  letter-spacing: 0.05em;    
}

h2 {
  font-size: 2rem;          
  margin-bottom: 0;         
  letter-spacing: 0.03em;   
}

section h2 + p {
  text-indent: 2rem; 
}

h3, h4, h5, h6 {
  letter-spacing: 0.02em;
}

/* Link styling */

a {
  color: #aa6666;           
  text-decoration: underline; 
  outline: none;            
}

a:visited {
  color: #884444;           
}

a:hover,
a:focus {
  color: #cc8888;           
  text-decoration: none;    
}

a[href^="http"]::after {
  content: url('external-link-52.png');
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  vertical-align: middle;
}

/* List styling */

ul,
ol {
  line-height: 1.6;     
  margin: 1rem 0;          
  padding-left: 2rem;      
}

li {
  margin-bottom: 0.5rem;   
}

ul {
  list-style-type: disc;   
}

ol {
  list-style-type: decimal; 
}

/* Navigation menu styling */

nav ul {
  list-style: none;        
  padding: 0;              
  margin: 0;               
}

nav li {
  margin-bottom: 0.5rem;  
}

nav a {
  display: block;                 
  background-color: #aa6666;        
  color: white;                  
  text-align: center;             
  text-decoration: none;          
  font-family: 'Roboto Slab', serif; 
  padding: 1rem 0;                  
  text-transform: uppercase;     
  border-radius: 0.25rem;          
  transition: background-color 0.3s; 
}

nav a:hover,
nav a:focus {
  background-color: #cc8888;        
}